{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Participant B -  Decision
{% endblock %}

{% block content %}
    {% include 'trust/includes/instructions.html' %}
    {% if subsession.party_treatment %}
        <div class="alert alert-primary my-3">
            Your partner's party affiliation is: <b>{{ player.other_party }}</b>
        </div>
    {% endif %}
    <div class="alert alert-info">
        <div>
            Another participant sent you {{ group.sender_decision }}
        </div>
        <div>
            This amount was multiplied by {{ Constants.coef }}
            so you received {{ group.multiplied_sender }}
        </div>
        <div>
            You can send him/her back any amount from 0 to {{ group.multiplied_sender }}
        </div>
    </div>

    {% formfield player.receiver_decision %}
    {% next_button %}

{% endblock %}
