{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Receiver Decision
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        <div>
            Another participant sent you {{ group.sender_decision }}
        </div>
        <div>
            This amount was multiplied by {{ Constants.coef }}
            so you received {{ group.multiplied_sender }}
        </div>
        <div>
            You can send him/her back any amount from 0 to {{ group.multiplied_sender }}        </div>
    </div>

    {% formfields %}
    {% next_button %}

{% endblock %}
